#MacOS
.DS_Store

IMAGES_TEST/
TACHE3/
TACHE5/

# Milo files
ARCHIVES/
TESTS_IMAGES/
TESTS_TACHE1/
TESTS_TACHE3/
TESTS_TACHE5/
TESTS_TACHE8/
files.sh

# CR
*.zip
*.pdf

# test ouput files
*.eps
*.contours

# Executables
test_image
test_geom2d
test_contour
test_generate_eps
test_generate_eps_seg
test_distance_ps
test_bezier

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
